button {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary {
  background-color: rgb(33, 125, 246);
  color: white;
}
