a {
  display: flex;
  text-decoration: none;
  color: unset;
}

li a > div:first-child {
  margin-right: 1rem;
}

h1 {
  font-size: larger;
}

.info {
  flex: none;
}

.info p {
  margin-bottom: 0.25rem;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-left-width: 5px;
  border-left-style: solid;
  font-weight: 600;
}

.content {
  width: 100%;
}

.content h1 {
  font-weight: 500;
}

.author {
  font-size: 0.875rem;
}
