<li class="py-4">
  <a [routerLink]="['/questions', question.id]">
    <div class="info">
      <p class="border-color text-nuance">{{ question.voteCount }} votes</p>
      <p class="border-color text-nuance">{{ question.answerCount }} answers</p>
      <p class="border-color text-nuance">42 views</p>
    </div>
    <div class="content">
      <h1>{{ question.content }}</h1>
      <p class="author text-nuance">
        by {{ question.author.username }}
        <span>{{ question.createdAt }}</span>
      </p>
    </div>
  </a>
</li>
