:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: min(400px, 100vw - 2rem);
}

h1 {
  align-self: flex-start;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.primary {
  background-color: rgb(33, 125, 246);
  color: white;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}
