<p *ngIf="error | async as err" class="error">{{ err }}</p>
<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <app-text-input
    [name]="'avatar'"
    [label]="'Avatar URL'"
    [form]="registerForm"
  ></app-text-input>
  <app-text-input
    [name]="'username'"
    [label]="'Username'"
    [form]="registerForm"
  ></app-text-input>
  <app-text-input
    [name]="'name'"
    [label]="'Name'"
    [form]="registerForm"
  ></app-text-input>
  <app-text-input
    [name]="'email'"
    [label]="'Email'"
    [form]="registerForm"
  ></app-text-input>
  <app-text-input
    [name]="'password'"
    [label]="'Password'"
    [type]="'password'"
    [form]="registerForm"
  ></app-text-input>
  <button class="btn btn-submit" [disabled]="!registerForm.valid">
    Sign up
  </button>
</form>
