<div class="navbar">
  <div class="logo">
    <h2>logo</h2>
  </div>
  <button (click)="toggleMenu()" class="menu-button">menu</button>
  <div class="nav-list" *ngIf="showMenu">
    <a routerLink="/" class="nav-link">Home</a>
    <a *ngIf="!(loggedIn | async)" routerLink="/register" class="nav-link"
      >Register</a
    >
    <a *ngIf="!(loggedIn | async)" routerLink="/login" class="nav-link"
      >Login</a
    >
    <a *ngIf="loggedIn | async" routerLink="/posts/add" class="nav-link"
      >Add post</a
    >
    <a
      *ngIf="loggedIn | async"
      (click)="logout()"
      class="nav-link"
      style="cursor: pointer;"
      >Logout</a
    >
  </div>
</div>
