ul {
  list-style: none;
}

.jumbotron {
  text-align: center;
  width: 80% !important;
  margin: 20px auto !important;
  background-color: transparent;
}

.post-item > a {
  color: black;
  text-decoration: none;
  display: flex;
  height: 250px;
  width: 100%;
  margin: 20px auto;
  align-items: center;

  div:nth-child(1) {
    flex: 1;

    .post-image {
      object-fit: cover;
      height: 150px;
      width: 300px;
    }
  }

  div:nth-child(2) {
    flex: 2;
    margin-left: 10px;

    .post-body {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      font-size: 0.9rem;
      color: rgb(151, 151, 151);
    }
  }
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #ededed;
}
