<div class="container">
    <div class="jumbotron">
        <img src="{{(currentUser | async)?.avatar}}" width="140" height="140" class="avatar">
        <h3>{{(currentUser | async)?.name}}</h3>
    </div>
    <ul *ngIf='(posts | async).length > 0;else noPosts'>
        <h3>Your posts</h3>
        <li class="post-item" *ngFor="let p of posts | async">
            <a [routerLink]="['/posts', p._id]">
                <div>
                    <img class="post-image" src="{{p.image}}">
                </div>
                <div>
                    <h3 class="post-title">{{p.title}}</h3>
                    <p class="post-body">{{p.body}}</p>
                </div>
            </a>
        </li>
    </ul>

    <ng-template #noPosts>
        <h3>You have no posts</h3>
    </ng-template>

</div>