<div class="form-group">
  <label *ngIf="label" class="label">{{ label }}</label>
  <textarea [formControlName]="name" class="textarea" [rows]="rows"></textarea>

  <div
    *ngIf="
      form.controls[name].invalid &&
      (form.controls[name].dirty || form.controls[name].touched)
    "
    class="error"
  >
    <p *ngIf="form.controls[name].errors?.required" class="error">
      {{ label }} is required
    </p>
    <p *ngIf="form.controls[name].errors?.minlength" class="error">
      {{ label }} should be longer than
      {{ form.controls[name].errors?.minlength.requiredLength }} characters
    </p>
    <p *ngIf="form.controls[name].errors?.pattern" class="error">
      {{ label }} doesn't have proper format
    </p>
  </div>
</div>
