* {
  font-family: "Calibri", "sans-serif" !important;
}

p {
  margin: 0;
}

.container {
  margin-top: 2em;
  width: 98vh;
}

.info {
  padding: 15px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 9px;
}

.info > .desc {
  margin-left: 20px;
  display: block;
}

.desc > p:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
}

.info > img {
  width: 60px;
  height: 60px;
  display: block;
  border: 2px solid rgb(133, 61, 61);
  border-radius: 50%;
}

.content > img {
  object-fit: cover;
  width: 100%;
}

.content > .cap > .title {
  margin: 20px 0;
  font-size: 1.8rem;
}

button {
  cursor: pointer;
}

#like {
  background-color: #409cff;
  font-size: 2.2rem;
  padding: 18px;
  border-radius: 50%;
  cursor: pointer;
}

#like:hover {
  background-color: #1b88fc;
}

.fa.fa-thumbs-up {
  color: white;
  padding-bottom: 4px;
  padding-left: 2px;
}

.avatar {
  width: 60px !important;
  height: 60px !important;
  padding: 3px;
  border: 1px solid #ededed;
}
