.post {
  padding: 0.5em;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image {
  width: 100%;
  object-fit: cover;
  min-height: 200px;
  max-height: 200px;
}

.text {
  margin: 0.2em 0 0;
  height: 2.2em;
  line-height: 1.1em;
  color: rgb(73, 73, 73);
  text-overflow: ellipsis;
  overflow: hidden !important;
}
