header {
  padding: 1rem;
  background: rgba(199, 129, 0, 0.05);
}

#logo {
  font-size: 2rem;
  color: #333;
}

ul {
  display: flex;
}

li {
  margin-right: 1rem;
}

li > a {
  color: #444;
  text-transform: uppercase;
  font-size: 0.875rem;
}
