.comment {
  padding: 0.5em;
  border-radius: 10px;
  background: white;
  border: 1px solid #e6e6e6;
  margin: 1em 0;
}

.author {
  display: flex;
  align-items: center;
  padding: 0.3em;
}

.author-name {
  margin: 0 0 0 0.5em;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ededed;
  padding: 2px;
}

.comment-text {
  padding: 0.5em;
  border-top: 1px solid #ededed;
  font-weight: bold;
  font-size: 14px;
}
