<div class="comment" *ngIf="!editMode; else form">
  <button class="edit-button" (click)="toggleEditMode()">edit</button>
  <div class="author">
    <img class="avatar" src="{{ comment.author.avatar }}" />
    <h5 class="author-name">{{ comment.author.name }}</h5>
  </div>
  <p class="comment-text">{{ comment.comment }}</p>
</div>

<ng-template #form>
  <app-add-comment
    [editMode]="editMode"
    [commentToEdit]="comment"
    [toggleEditMode]="toggleEditMode"
  ></app-add-comment>
</ng-template>
