<div class="form-group">
  <label *ngIf="label" class="label">{{ label }}</label>
  <input [formControlName]="name" class="input" />
  <div
    *ngIf="
      form.controls[name].invalid &&
      (form.controls[name].dirty || form.controls[name].touched)
    "
    class="error"
  >
    <p *ngIf="form.controls[name].errors?.required" class="error">
      {{ name }} is required
    </p>
    <p *ngIf="form.controls[name].errors?.max" class="error">
      {{ name }} is required
    </p>
    <p *ngIf="form.controls[name].errors?.minlength" class="error">
      {{ name }} should be longer than
      {{ form.controls[name].errors?.minlength.requiredLength }} characters
    </p>
    <p *ngIf="form.controls[name].errors?.email" class="error">
      Wrong email format
    </p>
  </div>
</div>
