<form (ngSubmit)="onLogin()" [formGroup]="LoginForm">
  <div class="container">

    <div class="row my5" *ngIf="isLoading | async">
      <app-loading></app-loading>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 p-3" id="formCol">

        <div *ngIf='message | async' class="{{messageClass | async}}">
          {{message | async}}
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" placeholder="Your username...">
          <div class="alert alert-danger my-2" *ngIf="LoginForm.controls['username'].hasError('required
          ') && LoginForm.controls['username'].touched">This field is required.</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Your password...">
          <div class="alert alert-danger my-2" *ngIf="LoginForm.controls['password'].hasError('required
          ') && LoginForm.controls['password'].touched">This field is required
          </div>
        </div>
        <button class="btn btn-outline-primary mt-2" type="submit">Login</button>
      </div>
    </div>
  </div>
</form>