@import url("https://fonts.googleapis.com/css2?family=OpenSans:400;500;600;&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;

  --primary: #ffc090;
  --primary-light: #fdf4ec;
  --secondary: #7fb77e;
  --error: #f43434;
  --gray: rgb(83, 83, 83);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: min(1280px, 100% - 1rem);
  margin: 0 auto;
}

.block {
  display: block;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

/* COLOR CLASSES - BG, TEXT */

.bg-error {
  background-color: var(--error);
}

.text-error {
  color: var(--error);
}

.bg {
  background-color: var(--secondary);
}

.bg-reverse {
  background-color: var(--primary-light);
}

.text {
  color: black;
}

.text-nuance {
  color: var(--gray);
}

.text-reverse {
  color: white;
}

.border-color {
  border-color: var(--secondary);
}

.border-color-reverse {
  border-color: var(--primary);
}

/* BORDER CLASSES */

.bt {
  border-top: 1px solid;
}

.bb {
  border-bottom: 1px solid;
}

.bl {
  border-left: 1px solid;
}

.br {
  border-right: 1px solid;
}

.radius {
  border-radius: 0.5rem;
}

/* SPACING */

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.py-4 {
  padding: 1rem 0;
}

.py-8 {
  padding: 2rem 0;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

/* TEXT SIZE CLASSES */

.text-lg {
  font-size: 2rem;
}

.text-base {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

/* MAIN GRID */

.main-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main-grid > *:first-child {
  grid-column: 1/9;
}

.main-grid > *:nth-child(2) {
  grid-column: 9/-1;
  background: #ededed;
}
