<form class="form" [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
  <app-text-input
    [name]="'title'"
    [label]="'Title'"
    [form]="addPostForm"
  ></app-text-input>

  <app-textarea
    [name]="'body'"
    [label]="'Content'"
    [form]="addPostForm"
    [rows]="8"
  ></app-textarea>

  <app-text-input
    [name]="'image'"
    [label]="'Image URL'"
    [form]="addPostForm"
  ></app-text-input>

  <button class="btn btn-submit" [disabled]="!addPostForm.valid">
    {{ editMode ? "Edit post" : "Add post" }}
  </button>
</form>
